<!DOCTYPE html>
<html>
  <head>
    <title>
      Contact Manager
    </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif|Overpass+Mono">
  </head>
  <body>
  <h1>Contact Manager</h1>
  <% if session[:message] %>
    <p class="message">
      <%= session.delete(:message) %>
    </p>
  <% end %>
  <%== yield %>
  </body>
</html>